<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script src="https://cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>

    <title>Document</title>
  </head>
  <body>
    <div class="container col-8">
      <table class="table table-bordered">
        <tr>
          <th>Tên</th>
          <th>Noi dung</th>
          <th>image</th>
          <th>VND</th>
          <th>Up date</th>
          <th>Hidden</th>
          <th></th>
          <th></th>
        </tr>
        <% for (let c of list ) { %>
        <tr>
          <td><%= c.name %></td>
          <td><%= c.content %></td>
          <td><%= c.image %></td>
          <!-- //hien thi a -->
          <td><%= c.VND %></td>
          <td><%= c.up_date %></td>
          <td><%= c.hidden==1 ? "Đang hiện" : "Đang ẩn"%></td>
          <th>
            <button><a href="/book/delete/<%=c.id%>">xóa</a></button>
          </th>
          <th>
            <button><a href="/book/edit/<%=c.id%>">sửa</a></button>
          </th>
        </tr>

        <% } %>
      </table>
      <th>
        <button><a href="/book/addnew">thêm mới</a></button>
      </th>
    </div>
  </body>
</html>
